{%include "base.html" %}

{% load crispy_forms_tags %}

    <div class="container">


<div class="row">
    <div class="col-3" >
        <br>
        <div class="card" >
        <div class="card-body">
            <h3>Permissions</h3>
            {% for perm in permis %}
                <a class="btn btn-primary col-7  {% if perm|lower in request.resolver_match.url_name %}active btn-success{% endif %}  " href="/panel/{{perm|lower}}">{{perm}}</a>
                <br><br>
            {% endfor %}
        </div>
        </div>

    </div>
    <div class="col">
        <br>
        <div class="card" >
        <div class="card-body">

            {% block content %}

            {% endblock %}
        </div>
        </div>

    </div>
  </div>

    </div>